{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>زيدة الوظائف</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="hero">
      <nav>
        <img src="{% static 'logo.png' %}" alt="website logo" />
        <ul>
          <li><a href="#">الرئيسية</a></li>
          <li><a href="#">للتواصل</a></li>
        </ul>
      </nav>
      <div class="mar">
        <marquee direction="right">
          <span style="color: #000000; margin-right: 50px; font-family: 'stc'"
            >قانون</span
          >
          <span style="color: #000000; margin-right: 50px; font-family: 'stc'"
            >مالية</span
          >
          <span style="color: #000000; margin-right: 50px; font-family: 'stc'"
            >تقنية معلومات</span
          >
          <span style="color: #000000; margin-right: 50px; font-family: 'stc'"
            >موارد بشرية</span
          >
          <span style="color: #000000; margin-right: 50px; font-family: 'stc'"
            >مالية</span
          >
          <span style="color: #000000; margin-right: 50px; font-family: 'stc'"
            >تسويق</span
          >
          <span style="color: #000000; margin-right: 50px; font-family: 'stc'"
            >..وغيرها</span
          >
        </marquee>
      </div>
      <div class="detel">
        <h1>زبدة <span>الوظائف</span></h1>
        <p>
          تعبت وانت تبحث عن وظائف <span class="t1">تخصصك؟</span>

          <br />
          لا تشيل هم حنا نجيبها لك
          <br />
          لدخول القروب بسعر رمزي <span class="t2">%</span> شهري
        </p>

        <a href="#" style="color: #075e54; margin-top: 70px"
          ><i class="fa fa-whatsapp"></i> واتسب</a
        >
        <br />
        <a href="#" style="color: #00acee; margin-top: 15px"
          ><i class="fa fa-twitter"></i> تويتر</a
        >
        <br />
        <a href="#" style="color: #0088cc; margin-top: 15px"
          ><i class="fa fa-telegram"></i> تيليقرام</a
        >
      </div>
    </div>
    <div class="dete2">
      <div class="dete3">
        <h3>
          للتواصل للشركات او الجهات الحكومية
          <br />
          Email:
          <a href="mailto:Saudalardi@outlook.sa">Saudalardi@outlook.sa</a>
        </h3>
        <br />

        <h3></h3>
      </div>
    </div>
  </body>
  <footer style="width: 100%">الحقوق محفوظة م. سعود 2022</footer>
</html>
